:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

* {
  box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

html {
  background-color: #020617;
  scroll-behavior: smooth;
}

p {
  margin: 0;
}

button {
  all: unset;
  cursor: pointer;
}

body {
  color: rgb(243 244 246);
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.5;
}

.container {
  max-width: 1158px;
  margin: auto;
  padding: 0 9px;
}

/* ------------------HEADER------------------ */

.logo {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-weight: 700;
  font-size: 32px;
}

.logo__image {
  width: 40px;
  height: 40px;
}

.nav_container {
  width: 100%;

  background-color: #020617;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  /* border-bottom: 1px solid #1f2937; */
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
}

.nav {
  max-width: 1158px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 9px 16px 9px;
}

/* -------- SEARCH -------------- */

.search-form {
  font: inherit;
  display: flex;
  justify-content: center;
  width: 50%;
  gap: 16px;
}

.input-box {
  background-color: #111827;
  padding: 4 16;
  width: 100%;
  border: 1px solid #1f2937;
  border-radius: 4px;
}

.input {
  all: unset;
  padding: 4 0;
  color: rgb(243 244 246);

  width: 100%;
}

.input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #4b5563;
  opacity: 1; /* Firefox */
}

.search-button {
  background-color: #4338ca;
  border: 1px solid #1f2937;
  border-radius: 4px;
  padding: 3px 12px;
  color: rgb(243 244 246);
  cursor: pointer;
  font-weight: 500;
}

.search-button:hover {
  background-color: #4f46e5;
}

/* --------------TAGS------------------- */

.tag-list {
  max-width: 1140px;
  margin: 80px auto 0 auto;
  display: flex;

  flex-wrap: wrap;
  gap: 16px;
}

.tag-list__item {
  background-color: #111827;
  display: inline-block;
  font-size: 18px;
  color: white;
  font-weight: 500;
  border-radius: 2px;
  border: 1px solid #1f2937;
}

.tag-list__item:hover {
  background-color: #4f46e5;
  cursor: pointer;
}

.tag-button {
  padding: 8px 16px;
}

.active {
  background-color: #4f46e5;
}

/* --------------GALLERY------------------- */

.gallery {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(4, minmax(240px, 1fr));
  /* grid-auto-rows: 240px; */
  gap: 16px 16px;
  justify-content: center;
  margin: 16px auto 0 auto;
}

.gallery__item {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image:hover {
  /* transform: scale(1.03); */
  opacity: 0.8;
}

.image-wrapper {
  background: #1f2937;
  height: 0;
  width: 100%;
  position: relative;
  padding-bottom: 80%;
}

.gallery__image {
  /* aspect-ratio: attr(width) / attr(height); */
  opacity: 1;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;

  top: 0;
  left: 0;
  object-fit: cover;

  transition: transform var(--animation-duration) var(--timing-function);
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-around;

  font-size: 12px;
  color: #9ca3af;
  font-weight: 500;
  margin-top: 8px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 8px;
  decoration: none;
}

.info_icon {
  width: 18px;
}

/*  -------------------LOAD MORE -------------------------- */

.load-container {
  max-width: 1140px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #111827;
  margin: 32 auto;
}

.load-more {
  padding: 16px 16px;
  font-size: 18px;
  font-weight: 700;
}

.load-more:hover {
  color: #4f46e5;
  text-decoration: underline;
}

/* -------- LIGHTBOX-------------- */

.sl-overlay {
  background-color: #020617 !important;
  color: red !important;
}

.sl-wrapper .sl-close {
  color: white !important;
}

.sl-wrapper .sl-navigation button.sl-next {
  color: white !important;
}

.sl-wrapper .sl-navigation button.sl-prev {
  color: white !important;
}

.sl-wrapper .sl-counter {
  color: white !important;
}

/*  ----------------MOBILE -------------------- */

@media screen and (max-width: 550px) {
  .logo {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }

  .search-form {
    width: 100%;
  }

  .gallery {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media screen and (min-width: 550px) and (max-width: 767px) {
  .logo {
    font-size: 28px;
  }

  .logo__image {
    width: 34px;
    height: 34px;
  }

  .gallery {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/*  ----------------TABLET -------------------- */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .search-form {
    width: 80%;
    margin-left: 16px;
  }

  .gallery {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/*  ----------------DESkTOP -------------------- */

@media screen and (min-width: 1024px) and (max-width: 1153px) {
  .search-form {
    width: 60%;
  }

  .gallery {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1154px) {
  .tag-list {
    justify-content: space-between;
  }
}
